@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

iframe {
    width: 100%;
    height: 100%;
    border: dotted;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}