@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --line-height: 1.7rem;
    --transition: 0.2s ease-in;
  }

body, html {
    margin: 0;
    padding: 0;
}

/* Styling navbar */
nav {
    background: #7ab1ff;
    position: sticky;  
    padding: 10px 10px 10px 20px;
}
  
nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav ul li.logo{
    float: left;
}

nav ul .search-icon {
    height: 30px;
    width: 240px;
    display: flex;
    flex: initial;
    background: #f2f2f2;
    border-radius: 5px;
    text-align: center;
}

nav ul .search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 33px;
    text-align: center;
    background: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
}

nav ul .search-icon .icon span {
    color: #222222;
}

nav ul div.menu {
    padding: 0 10px;
    display: flex;
}

nav ul div.menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    padding: 10px 10px;
    color: rgb(0, 0, 0);
}

nav ul div.menu a:hover {
    background-color: rgb(56, 126, 248);
}

/* Hamburger icon */
nav ul li.hamburger {
    font-size: 16px;
    flex: none;
    display: none;
}

nav ul li.hamburger span {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

nav ul li.hamburger:hover span:before {
    content: '\f00d';
}

/* Account icon */
nav ul li.account {
    font-size: 16px;
    flex: none;
}

nav ul li.account span {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}


/* Adjusting the style depending on screen resolution */
@media screen and (max-width: 1052px) {
    nav { padding: 10px 10px 10px 10px }
    nav ul li.logo span.name {
        display: none;
    }
    nav ul li.logo span.logo {
        padding: 20px;
    }
}

@media screen and (max-width: 800px) {
    nav ul li.hamburger {
        display: block;
    }
    nav {
        padding: 10px 10px 10px 10px;
    }
    nav ul div.menu {
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        background: #a8c9f6;
        display: inline-block;
    }
    nav ul div.menu li {
        text-align: center;
        line-height: 10px;
        margin: 10px 0;
    }

}